@import "~bootstrap/scss/bootstrap";

body {
  // background-image: url('./img/me2.jpg');
  font-family: 'Amatic SC', cursive;
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350');
  height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  // background-color: rgb(82, 76, 71);
}

.newImage {
  opacity: 0.5;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

#projectH3 {
  text-align: center;
}

.projText {
  color: rgba(39, 76, 124, 0.788);
  font-size: 45px;
}


#bioImage {
  margin-top: 25px;
  align-content: center;
}

#bio {
  font-size: 25px;
  color: aliceblue;
  margin-left: -400px;
  margin-top: 200px;
  z-index: 3;
}

.body-text {
  color: rgb(255, 255, 255);
}

#important-text {
  p {
    color: rgba(180, 180, 180, 0.781);
  }
}

#linkFont {
  font-size: 40px;
  color: whitesmoke;
}

.techImg {
position: relative;
width:  150px;
height: 150px;
background-position: 50% 50%;
background-repeat:   no-repeat;
background-size:     cover;
padding: 22px;
}
.card2 {
  background-color:rgba(33, 124, 116, 0);
  border: none;
}

.card-body {
  text-decoration-color: aliceblue;
}

 .card-img-top {
  object-fit: cover;
  object-position: 0 0;
  margin: 0 auto;
 }
 
.project-card{
display: inline-block;
}

#bioDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: px;
  margin-bottom: 25px;
}

.hero-logo-circle:nth-child(1) {
  animation-duration: 50s;
}

.hero-logo-circle:nth-child(2) {
  animation-duration: 50s;
}

.hero-logo-circle:nth-child(3) {
  animation-duration: 25s;
}

.hero-logo-circle:nth-child(4) {
  animation-duration: 10s;
}

.hero-logo-circle:nth-child(5) {
  animation-duration: 59s;
}

.hero-logo-circle {
position: absolute;
top: 190px;
left:45%;
width: 600px;
height: 600px;
margin:-60px 0 0 -60px;
-webkit-animation:spin 1s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#contact {
  
  color: whitesmoke;
  text-align: center;
  margin-top: 50px;
}

$body-bg: none; 