@import "~bootstrap/scss/bootstrap";

body {
  // background-image: url('./img/me2.jpg');
  font-family: 'Amatic SC', cursive;
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350');
  height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  // background-color: rgb(82, 76, 71);
}

#important-text {
  p {
    color: rgba(180, 180, 180, 0.781);
  }
}

.techImg {
position: relative;
width:  150px;
height: 150px;
background-position: 50% 50%;
background-repeat:   no-repeat;
background-size:     cover;
padding: 22px;
}
.card2 {
  background-color:rgba(82, 76, 71, 0.548);
}

.card-img-top {
height: 280px;
width: 100%;
object-fit: cover;
object-position: 0 0;
margin: 0 auto;
}
 
.project-card{
display: inline-block;
}



$body-bg: none; 