@import "~bootstrap/scss/bootstrap";

body {
  background-image: url('./img/me2.jpg');
  height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  // background-color: rgb(82, 76, 71);
}

#important-text {
  p {
    color: rgba(180, 180, 180, 0.781);
  }
}

.techImg {
  position: relative;
  width:  150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  padding: 22px;
 }

$body-bg: none; 